:root {
    --accent: #e3003d;
    --accent-foreground: #ffffff;
    --accent-foreground-rgb: 255, 255, 255;
    --accent-rgb: 227, 0, 61;
    --color-scheme-dark-accent: var(--accent);
    --color-scheme-dark-accent-foreground: var(--accent-foreground);
    --color-scheme-dark-accent-foreground-rgb: var(--accent-foreground-rgb);
    --color-scheme-dark-accent-rgb: var(--accent-rgb);
    --color-scheme-dark-background: #000000;
    --color-scheme-dark-container-border-color: #333333;
    --color-scheme-dark-foreground: #ffffff;
    --color-scheme-dark-form-background-color: #080808;
    --color-scheme-dark-form-buttons-background-color: #151515;
    --color-scheme-dark-input-border-color: #191919;
    --color-scheme-dark-left-background-color: #251C1C;
    --color-scheme-dark-left-border-color: #0D0D0D;
    --color-scheme-light-accent: var(--accent);
    --color-scheme-light-accent-foreground: var(--accent-foreground);
    --color-scheme-light-accent-foreground-rgb: var(--accent-foreground-rgb);
    --color-scheme-light-accent-rgb: var(--accent-rgb);
    --color-scheme-light-background: #ffffff;
    --color-scheme-light-container-border-color: #cccccc;
    --color-scheme-light-foreground: #000000;
    --color-scheme-light-form-background-color: #f7f7f7;
    --color-scheme-light-form-buttons-background-color: #eaeaea;
    --color-scheme-light-input-border-color: #e6e6e6;
    --color-scheme-light-left-background-color: #dae3e3;
    --color-scheme-light-left-border-color: #f2f2f2;
    --form-button-background-color: #63788e;
    --form-button-text-color: #ffffff;
    --form-invalid-background-color: #efa69d;
    --form-invalid-border-color: #e2003c;
    --form-invalid-text-color: #000000;
    --mandatory-color: #c12c2c;
    --select-language-buttons-active-button-background-color: var(--color-scheme-dark-accent);
    --select-language-buttons-active-button-foreground-color: var(--color-scheme-dark-accent-foreground);
    --select-language-buttons-selected-button-background-color: var(--color-scheme-dark-accent);
    --select-language-buttons-selected-button-foreground-color: var(--color-scheme-dark-accent-foreground);
    font-family: Arial, Helvetica, sans-serif;
}
