:host {
    display: block;
    margin-top: 30px;
}

form {
    background-color: var(--form-background-color);
    border: var(--form-border-size) solid var(--form-border-color);
    padding: 30px 40px;
}

label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 0;
}

.input:not([type="checkbox"]):not([type="radio"]),
.input_readonly,
.input_select,
.input_textarea {
    all: initial;
    color: var(--input-text-color);
    font-family: inherit;
    min-height: 20px;
    order: 2;
    padding: 5px;
    width: calc(60% - 14px);
}

.input:not([type="checkbox"]):not([type="radio"]),
.input_select,
.input_textarea {
    background-color: var(--input-background-color);
    border: var(--input-border-size) solid var(--input-border-color);
    border-radius: 3px;
}

.input:required + .text::after,
.input_select:required + .text::after,
.input_textarea:required + .text::after {
    color: var(--mandatory-color);
    content: " *";
}

.input:invalid,
.input_select:invalid,
.input_textarea:invalid {
    --input-border-color: var(--mandatory-color)
}

.input_textarea {
    min-height: 120px;
    resize: vertical;
}

.text {
    order: 1;
    width: 40%;
}

.input[type="checkbox"] + .text,
.input[type="radio"] + .text {
    width: calc(100% - 30px);
}

label[data-seperate] {
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
}

label[data-seperate] .input:not([type="checkbox"]):not([type="radio"]),
label[data-seperate] .input_readonly,
label[data-seperate] .input_select,
label[data-seperate] .input_textarea,
label[data-seperate] .text {
    width: calc(100% - 14px);
}

@media (max-width: 800px) {
    label {
        align-items: start;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .input:not([type="checkbox"]):not([type="radio"]),
    .input_readonly,
    .input_select,
    .input_textarea,
    .text {
        width: calc(100% - 14px);
    }
}
