:host {
    display: inline-block;
}

button {
    background-color: var(--form-button-background-color);
    border: none;
    border-radius: 0;
    color: var(--form-button-text-color);
    display: block;
    font-family: inherit;
    font-size: inherit;
    padding: 10px;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
}
