:host {
    display: inline-block;
}

button {
    all: initial;
    background-color: var(--form-button-background-color);
    color: var(--form-button-text-color);
    display: block;
    font-family: inherit;
    padding: 10px;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    opacity: 0.6;
}
