*
!bin
!bin/**
!src
!src/**
!.dockerignore
!.gitignore
!.gitlab-ci.yml
!.npmignore
!CHANGELOG.md
!Dockerfile
!package.json
!package-lock.json
!README.md
src/Adapter/Pwa/manifest-*.json
src/index.html
src/index-*.html
