*
!bin
!bin/**
!src
!src/**
!.dockerignore
!.gitignore
!CHANGELOG.md
!Dockerfile
!metadata.json
!README.md
src/Icon/icon*.*
src/Manifest/manifest*.json
src/favicon.ico
src/index*.html
!src/Icon/icon*-template.svg
!src/Manifest/manifest-template.mjs
!src/index-template.html
