*
!bin
!bin/**
!src
!src/**
!.dockerignore
!.gitignore
!CHANGELOG.md
!Dockerfile
!metadata.json
!README.md
src/index*.html
src/Manifest/manifest*.json
!src/index-template.html
!src/Manifest/manifest-template.json
