:root {
    --accent-color: #e3003d;
    --form-border-color: #000000;
    --form-border-size: 2px;
    --form-button-color: #63788e;
    --form-button-text-color: #ffffff;
    --form-buttons-color: #eaeaea;
    --form-color: #f7f7f7;
    --form-invalid-border-color: #e2003c;
    --form-invalid-border-size: 2px;
    --form-invalid-color: #efa69d;
    --input-border-color: #e6e6e6;
    --input-border-size: 2px;
    --input-color: #ffffff;
    --input-text-color: #000000;
    --loading-size: 100px;
    --loading-width: 2px;
    --mandatory-color: #c12c2c;
    accent-color: var(--accent-color);
    font-family: sans-serif;
    font-size: 16px;
}
