:host {
    display: block;
    margin: 10px 0;
}

.container {
    height: fit-content;
    margin: 0 auto;
    position: relative;
    width: fit-content;
}

.container:not([data-no_cursor]) {
    cursor: crosshair;
}

.rectangle {
    background-color: rgba(var(--flux-color-scheme-accent-color-rgb), 0.5);
    position: absolute;
}

img {
    display: block;
    max-width: 100%;
}

.size {
    text-align: center;
}
