:host {
    background-color: var(--form-buttons-background-color);
    border: var(--form-border-size) solid var(--form-border-color);
    border-top: none;
    display: block;
    min-height: 35px;
    padding: 10px 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

studies-selfservice-form-button {
    margin: 0 5px;
}

studies-selfservice-form-button[data-right] {
    margin-left: auto;
    order: 2;
}
