:host {
    background-color: var(--form-buttons-background-color);
    border: var(--form-border-size) solid var(--form-border-color);
    border-top: none;
    display: block;
    min-height: 35px;
    padding: 10px 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    all: initial;
    background-color: var(--form-button-background-color);
    color: var(--form-button-text-color);
    cursor: pointer;
    display: block;
    font-family: inherit;
    margin: 0 5px;
    padding: 10px;
}

button[data-right] {
    margin-left: auto;
    order: 2;
}
