:host {
    background-color: var(--form-color);
    border: var(--form-border-size) solid var(--form-border-color);
    border-bottom: none;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 5px;
}
