:host {
    display: block;
    margin-top: 20px;
}

form {
    background-color: var(--flux-color-scheme-form-background-color);
    padding: 30px 40px;
}

flux-studis-selfservice-form-title + form {
    margin-top: -15px;
}

label {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px 0;
}

.input_field,
.input_readonly,
.input_select,
.input_textarea,
.input_container {
    box-sizing: inherit;
    font-family: inherit;
    min-height: 20px;
    order: 2;
    padding: 5px;
    width: calc(60% - 14px);
}

.input_field,
.input_select,
.input_textarea {
    background-color: var(--flux-color-scheme-background);
    border: 1px solid var(--flux-color-scheme-input-border-color);
    border-radius: 3px;
    color: var(--flux-color-scheme-foreground);
    outline: none;
}

.input:invalid,
.input_select:invalid,
.input_textarea:invalid {
    border-color: var(--mandatory-color);
}

.input:focus-visible,
.input_select:focus-visible,
.input_textarea:focus-visible {
    border-color: var(--flux-color-scheme-foreground);
}

.input_select[data-small] {
    width: fit-content;
}

.input_textarea {
    min-height: 120px;
    resize: vertical;
}

.input_readonly {
    cursor: default;
}

.input_container {
    column-gap: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    width: calc(60% - 4px);
}

.input_container :where(
    .input_field,
    .input_readonly,
    .input_select,
    .input_textarea,
    .input_container
) {
    order: unset;
}

.input_container :where(
    .input_field,
    .input_readonly,
    .input_select:not([data-small]),
    .input_textarea,
    .input_container
) {
    flex-grow: 1;
    flex-shrink: 1;
}

.input[type=file]:not(:disabled),
.input[type=file]:not(:disabled)::file-selector-button,
button:not(:disabled) {
    cursor: pointer;
}

.text {
    order: 1;
    width: 40%;
}

:where(
    .input:required,
    .input_container:has(.input:required),
    .input_select:required,
    .input_container:has(.input_select:required),
    .input_textarea:required,
    .input_container:has(.input_textarea:required)
) + .text::after {
    color: var(--mandatory-color);
    content: " *";
}

.input[type=checkbox] + .text,
.input[type=radio] + .text {
    width: calc(100% - 30px);
}

label[data-seperate] {
    align-items: start;
    flex-direction: column;
}

label[data-seperate] :where(
    .input_field,
    .input_readonly,
    .input_select:not([data-small]),
    .input_textarea,
    .text
) {
    width: calc(100% - 14px);
}

label[data-seperate] .input_container {
    width: calc(100% - 4px);
}

@media (max-width: 1000px) {
    label:where(
        :has(.input_field),
        :has(.input_readonly),
        :has(.input_select),
        :has(.input_textarea)
    ) {
        align-items: start;
        flex-direction: column;
    }

    .input_field,
    .input_readonly,
    .input_select:not([data-small]),
    .input_textarea,
    .text {
        width: calc(100% - 14px);
    }

    .input_container {
        width: calc(100% - 4px);
    }
}
