:host {
    --color-scheme-form-buttons-background-color: transparent;
    display: block;
}

flux-studis-selfservice-form-buttons {
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
}
