:host {
    display: block;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.left {
    background-color: var(--flux-color-scheme-left-background-color);
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 100vh;
    padding-right: 12px;
    position: relative;
    width: 280px;
}

.left::after {
    background-color: var(--flux-color-scheme-left-border-color);
    border: 1px solid var(--flux-color-scheme-container-border-color);
    border-bottom: none;
    border-top: none;
    content: "";
    height: 100%;
    left: calc(100% - 12px);
    position: absolute;
    top: 0;
    width: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
}

.menu {
    background-color: var(--flux-color-scheme-background);
    color: var(--flux-color-scheme-foreground);
    font-size: 13px;
    padding: 18px 30px;
}

.menu:not([data-active]) {
    cursor: pointer;
}

.menu[data-active] {
    background-color: var(--flux-color-scheme-accent);
    color: var(--flux-color-scheme-accent-foreground);
}

flux-select-color-scheme {
    padding: 30px;
    width: fit-content;
}

.logo {
    background-image: url("../Logo/logo.svg");
    background-origin: content-box;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 40px;
    display: block;
    height: 150px;
    left: 40px;
    position: absolute;
    width: 150px;
}

.right {
    flex-grow: 1;
    flex-shrink: 1;
    width: 0;
}

.header {
    border-bottom: 1px solid var(--flux-color-scheme-container-border-color);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

flux-select-language-buttons {
    padding: 1px;
}

.user,
flux-studis-selfservice-form-button {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.user {
    text-align: center;
}

.user_name {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
}

.user_name + flux-studis-selfservice-form-button {
    --form-button-padding: 5px;
}

flux-studis-selfservice-form-button {
    --form-button-background-color: var(--flux-color-scheme-background);
    --form-button-text-color: var(--flux-color-scheme-foreground);
}

.header2 {
    border-bottom: 1px solid var(--flux-color-scheme-container-border-color);
    padding: 23px 66px;
}

.arrow {
    border: 1px solid var(--flux-color-scheme-container-border-color);
    border-right: none;
    padding: 8px 11px;
    position: relative;
    width: fit-content;
}

.arrow::after {
    border: 1px solid var(--flux-color-scheme-container-border-color);
    border-bottom: none;
    border-left: none;
    content: "";
    height: 20px;
    left: 100%;
    position: absolute;
    top: -1px;
    transform: rotate(45deg);
    transform-origin: 0 0;
    width: 20px;
}

.content {
    padding: 33px 66px;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .left {
        min-height: 0;
        width: calc(100% - 12px);
    }

    .logo {
        padding-bottom: 40px;
        padding-left: 40px;
        position: static;
    }

    .right {
        width: 100%;
    }
}

@media print {
    .left,
    .header,
    .header2 {
        display: none;
    }

    .content {
        padding: 33px;
    }
}
