:host {
    background-color: var(--color-scheme-form-buttons-background-color);
    display: block;
    min-height: 35px;
    padding: 10px 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

flux-studis-selfservice-form-button {
    margin: 0 5px;
}

flux-studis-selfservice-form-button[data-right] {
    margin-left: auto;
    order: 2;
}
