:root {
    --accent-color-rgb: 227, 0, 61;
    --flux-color-scheme-dark-accent-color-rgb: var(--accent-color-rgb);
    --flux-color-scheme-dark-container-border-color: #333333;
    --flux-color-scheme-dark-form-background-color: #080808;
    --flux-color-scheme-dark-form-buttons-background-color: #151515;
    --flux-color-scheme-dark-input-border-color: #191919;
    --flux-color-scheme-dark-left-background-color: #251C1C;
    --flux-color-scheme-dark-left-border-color: #0D0D0D;
    --flux-color-scheme-light-accent-color-rgb: var(--accent-color-rgb);
    --flux-color-scheme-light-container-border-color: #cccccc;
    --flux-color-scheme-light-form-background-color: #f7f7f7;
    --flux-color-scheme-light-form-buttons-background-color: #eaeaea;
    --flux-color-scheme-light-input-border-color: #e6e6e6;
    --flux-color-scheme-light-left-background-color: #dae3e3;
    --flux-color-scheme-light-left-border-color: #f2f2f2;
    --form-button-background-color: #63788e;
    --form-button-text-color: #ffffff;
    --form-invalid-background-color: #efa69d;
    --form-invalid-border-color: #e2003c;
    --form-invalid-text-color: #000000;
    --mandatory-color: #c12c2c;
    font-family: Arial, Helvetica, sans-serif;
}
